@page "/addPartner"
@inherits PartnerBase

<h1>Add Partner</h1>

Enter Name :
<input type="text" @bind-value="Name" />
Enter EmailID :
<input type="text" @bind-value="Email" />
Enter Phone Number :
<input type="text" @bind-value="Phone" />

<button @onclick="AddPartnerDB">Add Partners</button>

@code {
    private string Name { get; set; }
    private string Email { get; set; }
    private string Phone { get; set; }

    private void AddPartnerDB()
    {
        partnerService.AddPartners(Name,Email,Phone);
    }
}
