@page "/allPartners"

@using JCPenneyUI.Data
@using System.Net.Http
@inject HttpClient client
@inherits PartnerBase

<h1>All Partners</h1>

<p>This component demonstrates fetching data from a service.</p>
@if (partners != null)
{
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    @foreach (var item in partners)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.PhoneNum</td>
        </tr>
    }
</table>
}
else
{
    <button @onclick="Create">Button</button>
}


