<h3>Delete Partner</h3>


Enter email Id for which partner needs to be deleted : <input type="text" @bind-value="EmailId" />
<button @onclick="Delete">Delete Partner</button>

@if (string.IsNullOrEmpty(EmailId))
{
    
}

@code {
    private string EmailId { get; set; }

    private void Delete()
    {
        if (!string.IsNullOrEmpty(EmailId))
        {
            // call delete api from service
        }
        else
        {
            // show message on UI
        }
    }
}
